/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .content {
     grid-area: content;
 }

 .header {
   grid-area: header;
 }

 .footer {
   grid-area: footer;
 }


 .wrapper {
   display: grid;
   grid-gap: 10px;
   grid-template-columns: 120px 120px 120px;
   grid-template-areas:
   "....... header header"
   "sidebar content content"
   "footer  footer  footer";
   background-color: #fff;
   color: #444;
}


.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header, .footer {
  background-color: #999;
}
